main {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(192, 247, 192);
    margin: 0 auto;
    padding: 10px 20px;
    width: 600px;
    border: 3px solid darkgreen;
    border-radius: 10px;
}
h1 {
	color:darkgreen;
	margin-top: 0;
	margin-bottom: .5em;
    text-align: center;
    border-bottom: 1px solid darkgreen;
    padding-bottom: 0.8em;
}
p{
    font-weight: bold;
    font-size: 1.1em;
}
main {
    padding: 1em 2em;
}
#container {
    padding: 2em;
}
label {
	float: left;
    width: 6em;
    text-align: left;
    font-size: 1.1em;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
    border-radius: 5px;
    border: 1px solid black;
}

.input1{
    padding-bottom: .5em;
}
input:disabled{
    border: .5px solid grey;
}
span {
	color: darkgreen;
}
#input{
    margin-top: 1.8em;
}
#group{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
#group input{
    width: 8em;
    padding: .2em 2em .2em 2em;
    border: 2px solid black;
}